html, body {
    height: 100%;
  }

  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    margin: 0 0 15px;
    color: #444;
    font-weight: 500;
  }
  
  h1 {
    font-size: 48px;
    line-height: 50px;
  }
  
  h2 {
    font-size: 38px;
    line-height: 40px;
  }
  
  h3 {
    font-size: 30px;
    line-height: 32px;
  }
  
  h4 {
    font-size: 24px;
    line-height: 26px;
  }
  
  h5 {
    font-size: 20px;
    line-height: 22px;
  }
  
  h6 {
    font-size: 16px;
    line-height: 20px;
  }
  

  
  body {
    background: #fff none repeat scroll 0 0;
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: left;
    overflow-x: hidden;
    line-height: 22px;
  }


  /* Banner Section*/
  .center_image{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 07%;
    }

  .imagebanner{
    width: 100vw;
  }
  /* Banner Section*/
  


 /* Heading Style */
 h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}
.positionAnnouncement h1 {
    text-align: center;
    font-size:30px; font-weight:300; color:#222; letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    margin-top: 80px;
}

.positionAnnouncement h1:after,.positionAnnouncement h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #d7b044;
    border-top: 2px solid #d7b044;
    height: 6px;
    background-color:#f8f8f8;
}
@media (max-width: 600px) {
  .positionAnnouncement h1 {
    text-align: center;
    font-size:17px; }
}

@media (max-width: 350px) {
  .positionAnnouncement h1 {
    text-align: center;
    font-size:12px; }
}

.position_Announcement h1 {
  font-size:30px;
  text-align:center; 
  line-height:1.5em; 
  padding-bottom:45px; 
  font-family:"Playfair Display", serif; 
  text-transform:uppercase;
  letter-spacing: 2px; 
  color:#111;
  margin-top: -28px;
}

.position_Announcement h1:before {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 60%;
  left:50%; margin-left:-30%;
  height: 2px;
  content: "";
  background-color: #777; z-index: 4;
}
.position_Announcement h1:after {
  position:absolute;
  width:40px; height:40px; left:50%; margin-left:-20px; bottom:0px;
  content: '\00a7'; font-size:30px; line-height:40px; color:#d7b044;
  font-weight:400; z-index: 5;
  display:block;
  background-color:black;
}


 /* End Heading Style */


  @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Muli', sans-serif;
    margin: 0;
  }
  
  .course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: 20px;
    margin-bottom: 40px;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .course {
      display: flex;
      margin: 40px;
    }
  }

  
  .course-preview {
    background-color: #d7b044;
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  
  .jobTitle{
    height: 50%;
  }
  
  .course-info {
    position: relative;
    width: 100%;
  }
  
  .btn {
    background-color: #d7b044;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    letter-spacing: 1px;
  }

  .centerBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .btn:hover{
    background-color: black;
    color: #fff !important;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(odd){background-color: #d7b044;}

  .hr{
    background-color: lightgray;
  }
  .hr_container{
  padding: 30px;
  text-align: center;
  }
  
@media (max-width: 450px) {
.hr_h1 h1{
  font-size: 28px;
}
}

@media (max-width: 320px) {
.hr_h1 h1{
  font-size: 20px;
}
}

.hr_h1 h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.hr_h1 h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: black;
}
.hr_h1 h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: black;
}


.copyright{
  background-color: #d7b044;
  text-align: center;
  padding: 20px;
}

.copyright a i{
  color: black;
  padding-left: 10px;
  padding-inline-end: 10px;
}






